
/*5.1*/
/* h1 {
    color: red;
} */

/*5.2*/
/* h2 {
    color: red;
} */

/*5.3*/
/* * {
    color: red;
} */

h1, h2 {
    color: red;
    border: 1px solid black;
}

/*6.1*/
.paragraf {
    color: green;
}

/*6.3*/
#paragraf1 {
    color: rgba(236, 153, 222, 0.9);
    font-family: 'Courier New', Courier, monospace;
    /*8.1*/
    /*font-size: 10px;*/
    /*8.2*/
    font-size: 1em;

    border: 1px solid black;
    background-color: rgb(213, 215, 158);
}

#paragraf2 {
    color: rgba(51, 60, 91, 0.6);
    font-family:'Times New Roman', Times, serif;
    /*8.1*/
    /*font-size: 15px;*/
    /*8.2*/
    font-size: 2em;
    border: 1px solid black;
    background-color: rgb(47, 168, 116);
}

#paragraf3 {
    color: rgba(150, 81, 3, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    /*8.1*/
    /*font-size: 20px;*/
    /*8.3*/
    font-size: 1.3rem;
    border: 1px solid black;
    background-color: rgb(205, 187, 201);
}

div {
    border: 3px solid black;
    /*9.3*/
    /*display: block;*/
    /*display: inline-block;*/
    /*display: none;*/
    /*display: flex;*/
    /*display: grid;*/
}

h1 {
    background-color: blue;
}

h2 {
    background-color: aqua;
}